<nav class="navbar navbar-fixed-top navbar inverse">
  <div class="nabvar-header">
    <a href="" class="nabvar-brand">
      <span class="brand-title"></span>
    </a>
    <a class="btn navbar-btn navbar-toggle" data-toggle="collapse"
      data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <div class="navbar-collapse collapse">
    <div class="pull-right navbar-logo">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="" target="_blank">
            Manitos
          </a>
        </li>
        <li class="dropdown dropdown-big">
          <a href="" target="_blank">
            <img src="content/images/AngularJS-small.png" alt="">
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            Marvel API
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

























